*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height:100%;
    width: 100%;
}
body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;

}
#card{
    height: 480px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    position: relative;

}
#storiyan{
    height: 120px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    border-bottom: 1px solid #dadada
    
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    border: 3px solid red;
    height: 90px;
    width:90px ;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center ;
    position: absolute;
    display: none;
}
